/* .user {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
} */
.search {
    position: relative;
    justify-content: right;
}

.addUser {
    background-color: blue;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}